/* dashboard.component.css */

.dashboard {
    margin: 20px;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
}

.item-table th, .item-table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}

.item-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.item-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.item-table tbody tr:hover {
    background-color: #ddd;
}
